
    <div class="container text-center text-md-left mt-5">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">О нас</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0
                         d-inline-block mx-auto" style="width: 80px;">
                <p>Мы - лучшие в своем деле! Ваше желание - наш Закон </p>

            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Соц.сети</h6>
                <hr class="deep-black accent-2 mb-4 mt-0
                        d-inline-block mx-auto" style="width: 60px;">
                 <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap-fill" viewBox="0 0 16 16">
  <path d="M6.375 7.125V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z"/>
  <path d="M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4h-8zm1.06 12V3.545h3.399c1.587 0 2.543.809 2.543 2.11 0 .884-.65 1.675-1.483 1.816v.1c1.143.117 1.904.931 1.904 2.033 0 1.488-1.084 2.396-2.888 2.396H5.062z"/>
</svg>  <a href="https://vk.com" target="_blank" style='color:black; text-decoration:none'>Вконтакте</a>
                </p>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-heart-fill" viewBox="0 0 16 16">
  <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15Zm0-9.007c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
</svg> <a href="https://ok.ru/" target="_blank" style='color:black; text-decoration:none'>Одноклассники</a>
                </p>

            </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Ссылки</h6>
                <hr class="deep-black accent-2 mb-4 mt-0
                        d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="https://www.aviasales.ru/" target="_blank" style='color:black; text-decoration:none'>Авиасейлс</a>
                </p>
                <p>
                    <a href="https://travel.yandex.ru/hotels/" target="_blank" style='color:black; text-decoration:none'>Яндекс</a>
                </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Контакты</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 80px;">
                <p>
                   Email : gb@com
                </p>
                <p>
                    Phone : +7 (499) 922‒47‒10
                </p>

            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">&copy; {%now 'Y'%}
        <a href="https://gb.ru/" target="_blank" style='color:black; text-decoration:none'>GB.ru</a>
    </div>
</div>
