<div class="">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="{% url 'main' %}">BookedMarket</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item"><a class="nav-link"
                                    href="{% url 'acc:index' %}">
                Забронировать размещение</a></li>
            <li class="nav-item dropdown">
                {% if user.is_authenticated %}

                    <a class="nav-link dropdown-toggle"
                       href="" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        {{ user|default:'Пользователь' }}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'auth:edit' %}">Профиль</a>
                        <a class="dropdown-item" href="{% url 'basket:view' %}">Корзина</a>
                        <a class="dropdown-item" href="{% url 'order:orders_list' %}">Заказы</a>
                    {% if user.is_superuser %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'admin:users' %}">Админка</a>
                    {% endif %}
                    </div>

                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'auth:logout' %}">Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'auth:login' %}">Войти</a>
                    </li>
                {% endif %}
            </li>

        </ul>
<!--        <form class="amm-custom-form" method="get" action="{% url 'acc:index' %}">-->
<!--            <div class="ammo-combo-part">-->
<!--                <input id="q-search" class="form-control mr-sm-1 "-->
<!--                       type="search" placeholder="Поиск по городу" aria-label="Search"-->
<!--                       name="q">-->
<!--                <div class="ammo-query">-->
<!--                    <div class="star-rating">-->
<!--                        <div>-->
<!--                            <p class="title">Рейтинг</p>-->
<!--                            <div class="star-list">-->
<!--                                <span data-star="1" class="sltru-start">1★</span>-->
<!--                                <span data-star="2" class="sltru-start">2★</span>-->
<!--                                <span data-star="3" class="sltru-start">3★</span>-->
<!--                                <span data-star="4" class="sltru-start">4★</span>-->
<!--                                <span data-star="5" class="sltru-start">5★</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="amm-slider-range">-->
<!--                        <input type="hidden" class="range-slider" value="10000" />-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <input  id="low_price" type="hidden" name="price__lte" placeholder="минимальная цена">-->
<!--            <input id="high_price" type="hidden" name="price__gte" placeholder="максимальная цена">-->
<!--            <input id="rating" type="hidden" name="rating" placeholder="рейтинг" value="">-->

<!--            <button id="search-btn" class="btn btn-outline-danger my-2 my-sm-0 disabled"-->
<!--                    type="submit">Поиск</button>-->
<!--        </form>-->

    </div>
</nav>
</div>
