{% load static %}

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <div class="card-columns" style="margin-top: 30px;">
        <div class="card" style="width: 20rem; margin: 10px;">
            <img src="{% static 'img/speed.png' %}" class="card-img-top" alt="..." width="200" height="222">
            <div class="card-body" >
                <h5 class="card-title">Достоверные отзывы &#10084;</h5>
                <p class="card-text">Мы собираем и публикуем отзывы путешественников, так вы получаете ещё больше информации об отеле.</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; margin: 10px;">
            <img src="{% static 'img/support.png' %}" class="card-img-top" alt="..." width="200" height="222">
            <div class="card-body">
                <h5 class="card-title">Заботливая поддержка &#9200;</h5>
                <p class="card-text"> При возникновении каких-либо трудностей, оператор незамедлительно примет меры для их устранения!</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; margin: 10px;">
            <img src="{% static 'img/proverka.png' %}" class="card-img-top" alt="..." width="200" height="222">
            <div class="card-body">
                <h5 class="card-title">Проверенное жилье &#10004;</h5>
                <p class="card-text">Мы проверяем документы у гостиниц. Можете не беспокоиться о своей безопасности.</p>
            </div>
        </div>
    </div> -->



    <div class=" container card-group ">
        <div class="card" style="margin: 30px; " >
            <img src="{% static 'img/speed.png' %}" class="card-img-top" alt="..." width="200" height="222">
            <div class="card-body" >
                <h5 class="card-title">Достоверные отзывы &#10084;</h5>
                <p class="card-text">Мы собираем и публикуем отзывы путешественников, так вы получаете ещё больше информации об отеле.</p>
            </div>
        </div>
        <div class="card" style="margin: 30px;">
            <img src="{% static 'img/support.png' %}" class="card-img-top" alt="..." width="200" height="222">
            <div class="card-body">
                <h5 class="card-title">Заботливая поддержка &#9200;</h5>
                <p class="card-text"> При возникновении каких-либо трудностей, оператор незамедлительно примет меры для их устранения!</p>
            </div>
        </div>
        <div class="card" style="margin: 30px;">
            <img src="{% static 'img/proverka.png' %}" class="card-img-top" alt="..." width="200" height="222">
            <div class="card-body">
                <h5 class="card-title">Проверенное жилье &#10004;</h5>
                <p class="card-text">Мы проверяем документы у гостиниц. Можете не беспокоиться о своей безопасности.</p>

            </div>
        </div>
    </div>


